
 <div class="row">
   <div class="col-xs-12 col-md-4 col-sm-8 col-sm-offset-1 col-sm-offset-1">
     <h3><div class="label label-lg label-default"> EOP - EQUITY ORDER PROCESSOR</div></h3> 

 <form *ngIf="method=='signup'" (ngSubmit)="onSignUp(f)" #f="ngForm">
   
  <div class="form-group">
    <label for="username">User Name </label>
    <input type="text" id="username" class="form-control" name="username" ngModel required>
  </div>

  <div class="form-group">
      <label for="password"> Password </label>
      <input type="password" id="password" class="form-control" name="password" ngModel required>
    </div>

    <button class="btn btn-primary" [disabled]="!f.valid" >Register</button>

    <br> <a (click)="switchtoSignip()">Already signed up... go to Login!!</a>
</form>

<form *ngIf="method=='signin'"(ngSubmit)="onSignIn(f)" #f="ngForm" class="jumbotron">
   <div class="container">
    <div class="form-group"> 
      <label for="username">User Name </label>
      <input type="text" id="username" class="form-control" name="username" ngModel required>
    </div>
  
    <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" id="password" class="form-control" name="password" ngModel required>
      </div>
  
      <button class="btn btn-success" [disabled]="!f.valid" >sign in</button>

      <br> <a (click)="switchtoRegister()">Not a member... Register Here !!</a>
    </div>
  </form>

</div>
</div>