<opac-header></opac-header>
<div class="container">

  <h1>EOP - Eqity Order Processing</h1>

  <div class="row">
    <!--Admin - Maintain Users -->
    <div class="col-xs-6">
      <h2>2. Transfer</h2>
      <opac-transfer></opac-transfer>
    </div>
  </div>

  <div class="row"> 
    <h2>4. Look Up</h2>
    <div class="col-xs-6">
      <opac-account></opac-account>
    </div>
  </div>

  <hr>

  <div class="row">
    <!--Asset -->
    <div class="col-xs-6">
      <app-asset></app-asset>
    </div>
  </div>

  <hr>

  <div class="row">
    <!--Admin - Maintain Users -->
    <div class="col-xs-6">
      <h2>5. Admin</h2>
      <opac-admin></opac-admin>
    </div>
  </div>


</div>