<opac-header></opac-header>

<div class="container">  

 <!-- <opac-header-two></opac-header-two> -->

  <div class="row">
    <!--order Processing-->
    <div class="col-xs-12">
        <span class="label label-warning">1. Order Processing</span>
<opac-op></opac-op>
    </div>
  </div>

  <div class="row">
    <!--Admin - Maintain Users -->
    <div class="col-xs-12">
        <span class="label label-warning">2. Transfer</span>
<opac-transfer></opac-transfer>
    </div>
  </div>

  <div class="row">
    <span class="label label-warning">3. Asset Information</span>
    <div class="col-xs-12">
<opac-asset-info></opac-asset-info>
    </div>
  </div>

  <div class="row">
      <span class="label label-warning">4. Inquiry</span> > <span class="label label-warning">4.1. Account</span>
    <div class="col-xs-12">
<opac-account></opac-account>
    </div>
  </div>

  <hr>

  <div class="row">
      <span class="label label-warning">4. Inquiry</span> > <span class="label label-warning">4.2. Asset</span>
    <div class="col-xs-12">
<app-asset></app-asset>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <span class="label label-warning">5. Admin</span> > <span class="label label-warning">5.1. Maintain Users</span>
<opac-admin></opac-admin>
    </div>
  </div>


</div>