
<div class="container">

  <opac-header></opac-header>

  <div class="row">
    <!--order Processing-->
    <div class="col-xs-12">
      <h2>Order Processing</h2>
      <opac-op></opac-op>
    </div>
  </div>

  <div class="row">
    <!--Admin - Maintain Users -->
    <div class="col-xs-12">
      <h2>Transfer</h2>
      <opac-transfer></opac-transfer>
    </div>
  </div>

  <div class="row">
    <h2>Asset Information</h2>
    <div class="col-xs-12">
      <opac-asset-info></opac-asset-info>
    </div>
  </div>

  <div class="row">
    <h2>Look Up > Account</h2>
    <div class="col-xs-12">
      <opac-account></opac-account>
    </div>
  </div>

  <hr>

  <div class="row">
    <h2>Look Up > Asset</h2>
    <div class="col-xs-12">
      <app-asset></app-asset>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Admin > Maintain Users</h2>
      <opac-admin></opac-admin>
    </div>
  </div>


</div>