<div class="container">
 
  <div class="row">
    <div class="col-xs-3">

        <div class="input-group">
            <!-- <span class="input-group-addon" >Account Name </span> -->
            <input type="text" class="form-control" placeholder="Enter Account Name"  #accountName>
          </div>

      
      <div class="input-group">
          <!-- <span class="input-group-addon" >Account Number </span> -->
          <input   type="text"  class="form-control" placeholder="Enter Account Number "  #accountnu>
        </div>

        <div class="input-group">
            <!-- <label>Account Abbreviation </label> -->
            <span class="input-group-addon" >Account Abbreviation  </span>
            <input type="text"   class="form-control" placeholder=" "   #accountabbr>
          </div>

      <div class="input-group">
        <span class="input-group-addon" >Status</span>
        <select class="form-control" #status>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
      </select>
      </div>

      <button   class="btn btn-primary"  (click)="onCreateAccount( accountName.value, accountnu.value,accountabbr.value,status.value)">  Add Account  </button>

    </div>
</div>
