<div class="row">
    <div class="col-xs-6">
        <!-- 1. New Account Component -->
        <div class="badge badge-success"> New Account and operational control setup</div>
        <opac-new-account></opac-new-account>           
    </div>

    <div class="col-xs-6">
         <!-- 2. Account list component -->
         <div class="badge badge-success"> Account List</div>
         <opac-account-list class="Jumbotron" [a]="a" *ngFor="let a of accts" (statusChanged)=statusChanged($event)> </opac-account-list>
    </div>
</div>