<div class="row">
  <div class="col-xs-12">

<!--shopping list item-->
<h5>3.2.1. Shopping-list-edit component</h5>
    <app-shopping-edit (eventAdd)="add($event)" (eventdelete)="delete($event)" ></app-shopping-edit>

    <hr>
    <h5>3.2.2. Shopping-list component itself</h5>
    <!-- Adding collection of ingredient-->
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
          {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>

  </div>
</div>
