<h4>1. Inside AppComponent - root component created by ng</h4>

<h5>2. Added Header Coponent</h5>
<app-header (featureEvent)="displayView($event)"></app-header>

<div class="container">
  <h5>3. Adding Recipe Application</h5>
  <h6>3.1. Adding Recipe comptonent</h6>
  <div class="row" *ngIf="viewName === 'recipe'">
    <div class="col-xs-3">
      <app-recipe></app-recipe>
    </div>
  </div>

  <hr>
  <h6>3.2. Adding Shopping component</h6>
  <div class="row" *ngIf="viewName=== 'shopping'">
    <div class="col-xs-6">
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>



<div class="container" *ngIf="viewName === 'server'">
    <hr><h5>5. Adding Servers Application</h5>
  <div class="row">
    <div class="col-xs-3">
      <app-servers></app-servers>
    </div>
  </div>
</div>

<app-footer></app-footer>