<div class="panel panel-danger">

    <div *ngIf="users.length > 0" class="panel-heading">In-Active Users</div>

    <div class="panel-body">
        <ul class="list-group">
            <li    class="list-group-item"    *ngFor="let u of users; let i = index">
                <h5 class="label label-info">{{ u.initials}}</h5>
                <h5 class="label label-info">{{u.name}} </h5>
                <a class="btn btn-default btn-sm navbar-right" (click)="onSetToActive(u,i)">Set to Active</a>
            </li>
          </ul>
    </div>
    
  </div>

<!-- <h3 *ngIf="users.length > 0">Inactive Users</h3>
<ul class="list-group">
  <li    class="list-group-item"    *ngFor="let u of users; let i = index">
      {{ u.initials}}   | {{u.name}} <a class="btn btn-success navbar-right" (click)="onSetToActive(u,i)">Set to Active</a>
  </li>
</ul> -->
