<div class="container ">

    <!-- 1. Add tabs-->
    <div class="row navbar navbar-inverse">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li role="presentation"><a routerLink="/aoe">Asset FootNotes</a></li>
          <li role="presentation"><a routerLink="/goe">Control list rating</a></li>
          <li role="presentation"><a routerLink="/mkp">Grouped Asset Info</a></li>      
        </ul>
      </div>
    </div>
  
    <!-- 2. Display selected tab content / component -->
    <div class="row jumbotron">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <router-outlet></router-outlet> -->
      </div>
    </div>
    
</div>
