<!-- Add image -->
<div class="">
<div class="row">
  <div class="col-xs-12">
    <!-- <div class="label label-warning">Asset Description:</div> <hr> -->
    <img [src]="asset.imgPath" alt="{{ asset.name }}" class="img-responsive" style="max-height: 200px;">
  </div>
</div>

<!-- Add name -->
<div class="row">
  <div class="col-xs-12">
    <h3>{{ asset.name }}</h3>
    CG_SYM : <div class="label label-info">{{ asset.sym }}</div> <br>
    Price : <div class="label label-info"> </div> <br>
    Country : <div class="label label-info"></div> <br>
    Decription : <div class="label label-info"></div>
  </div>
</div>

<hr>

<!-- Add dropdown button to delete/edit -->
<div class="row">
  <div class="col-xs-12">

    <div class="btn-group" appDropdown1>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Asset<span class="caret"></span></button>
      <ul class="dropdown-menu open">
        <li><a style="cursor: pointer;" [routerLink]="['edit']">Edit Asset</a></li>
        <li><a style="cursor: pointer;" (click)="delete()">Delete Asset</a></li>
      </ul>
    </div>

  </div>
</div>
</div>

<hr>

<div class="row">
    <div class="col-xs-12">
  
      <router-outlet></router-outlet>
  
    </div>
  </div>
