    <div class="container">
    <!-- 1. Add tabs-->
    <div class="row navbar navbar-inverse">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li role="presentation" routerLinkActive="active" ><a [routerLink]="['om']">Binding</a></li>     
        </ul>
      </div>
    </div>
  
    <!-- 2. Display selected tab content / component -->
    <div class="row jumbotron">
      <div class="col-xs-12">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>

